Header add Access-Control-Allow-Origin "http://localhost:8080"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type, cache-control, if-modified-since"
Header add Access-Control-Allow-Methods "HEAD, GET, POST, OPTIONS, DELETE, PUT"
